.title {
    font-size: 60px;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.recipe-link {
    font-size: 23px;
    margin-bottom: 8px;
}

a:link {
    color: blueviolet;
}

a:visited {
    color: rgba(255, 192, 203, 0.74);
}

a:hover {
    color: white;
}

.recipe-list {
    background-color: rgba(13, 107, 13, 0.562);
    padding-top: 30px;
    padding-bottom: 30px;
}

.recipe-image {
    height: auto;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid;
}

.recipe-body {
    margin-left: 50px;
}

.description {
    font-size: 35px;
}

.description-text {
    font-size: 25px;
    line-height: 0px;
    margin-left: 30px;
    margin-bottom: 60px;
}

.ingredients-section {
    background-color: rgba(245, 221, 8, 0.103);
    padding: 20px 60px 30px 60px;
    margin-right: 60%;
    margin-left:20px;
}

ol {
    margin-left: 30px;
    margin-right: 30%;
}

ol li {
    margin-bottom: 10px;
}
